// General
$white:                         #fff;
$main_background_color:         #F2F1EF;
$link_colour:                   #34495E;
$gold:                          #FFECDB;
$quiet_color:                   #FFECDB;
$loud_color:                    #FFECDB;

// Main
$primary-color:                  #34495E;
$primary-color-dark:             darken($primary-color, 4%);
$primary-color-light:            lighten($primary-color, 4%);

// Accents - Inverts
$accent-color:                   complement($primary-color);
$invert-color:                   invert($primary-color);

// Dividers
$divider-color:                  #BDBDBD;
$divider-color-light:            #BDBDBD;

// Borders
$border-color-dark:              darken($primary-color, 4%);
$border-color-light:             lighten($primary-color, 4%);

// Text
$text-color:                   #2a2a2a;
// $primary-color-text:   #FFFFFF
// $primary-text-color:   #212121
// $secondary-text-color: #757575

$topbar-color:                   $white;
$branding-color:                 $primary-color;
$sidebar-color:                  $primary-color;
$main-content-color:             #F2F1EF;
$footer-color-light:             darken($main-content-color, 2%);
$footer-color-dark:              darken($main-content-color, 60%);


$success-color :                 #1DB954;
$error-color :                   #E84C3D;
$info-color :                    #018595;
$warning-color :                 #FD9928;
$dark-color:                     #2a2a2a;



$colors: (
  info: $info-color,
  error: $error-color,
  warning: $warning-color,
  success: $success-color,
  primary: $primary-color,
  dark: $dark-color
);