/* Layout */
$default_col_number:                       12;
$max_container_width:                      1200px;
$tablet_breakpoint:                        800px;
$sidebar_width:                            80px;

/* Font Styles */
$base_font_family:                         'Lato', sans-serif;
$base_font_size:                           14px;
$paragragh_font:                           'Lato', sans-serif;
$paragragh_font_weight:                    300;
$header_font:                              'Lato', sans-serif;
$header_font_weight:                       400;
$fixed_font_family:                        'Fira Mono', monospace;
$cursive_font:                             'Pacifico';


$default_box_shadow:                       0 1px 2px 0 rgba(34, 36, 38, 0.1);
$default_border_radius:                    4px;
$default_border:                           1px solid rgba(0, 0, 0, 0.07);
$light_border:                             1px solid rgba(0, 0, 0, 0.03);

$gutter_padding:                           0 10px;
$round_edges:                              200em;
$subtle_highlight:                         rgba(0,0,0,0.03);

$max_button_group_size:                    10;
$miniSize:                                 (10 / 14);
$tinySize:                                 (12 / 14);
$smallSize:                                (13 / 14);
$mediumSize:                               (14 / 14);
$largeSize:                                (16 / 14);
$bigSize:                                  (18 / 14);
$hugeSize:                                 (20 / 14);
$massiveSize:                              (24 / 14);

$sizes: (
  mini:     $miniSize,
  tiny:     $tinySize,
  small:    $smallSize,
  medium:   $mediumSize,
  large:    $largeSize,
  big:      $bigSize,
  huge:     $hugeSize,
  massive:  $massiveSize
);
