@import "config/mimi_config";

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: $base_font_family;
  margin: 0;
  padding: 0;
  background-color: $main_background_color;
  font-size: 14px;
  width: 100%;
  height: 100%;
  color: $text-color;
  -webkit-text-size-adjust:none;
  -moz-text-size-adjust:none;
  -ms-text-size-adjust:none;
  -webkit-text-size-adjust:100%;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
}

figure.login-logo{
  text-align: center;
  display: block;
  width: 100%;
  margin: 0 0 10px 0;


  img{
    width: 80px;
  }
}

.page-header{
  padding: 0 1em;
  margin-bottom: 20px;
  font-family: $header_font;
  text-transform: uppercase;
  font-weight: bold;

  .main {
    font-size: 1.1em;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(0,0,0,0.05);
    color: $primary-color;
  }
}
.keyword{
  background: lighten($primary-color, 15%);
  display: inline-block;
  padding: 2px 8px;
  border-radius: $default_border_radius;
  white-space: nowrap;
  border: 1px solid $primary-color;
  color: white;
  font-size: 0.9em;
  margin-left: 5px;
  margin-right: 5px;
}
.vertical-space{
  margin-bottom: 2em !important;
}

.no-vertical-space {
  margin-bottom: 0 !important;
}

.right-aligned{
  text-align: right;
}

.center-aligned {
  text-align: center;
}

.vertically-aligned {
  align-items: center;
}

.language-markup {
  font-family: $fixed_font_family !important;
  font-size: 1.1em;
}

@media (max-width: $tablet_breakpoint) {
  body{
    font-size: 0.9em;
  }
}
