.mm-main {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 200ms linear all;
  transition: 200ms linear all;
  flex-direction: column;
  will-change: auto;
}

.mm-content {
  height: calc(100% - 60px);
  height: 100%;
  max-height: calc(100% - 60px);
  width: 100%;
  background: $main-content-color;
  display: flex;
  position: relative;
  top: 60px;
  flex: auto;
  flex-direction: column;
}


@media (max-width: $tablet_breakpoint) {}