@import "config/mimi_config";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header_font;
  font-weight: $header_font_weight;
  margin: 0;
  margin-bottom: 2em;
}

// .h1,h1,
// .h2,h2 {
//   line-height: 1.1;
// }

// .h3,h3,
// .h4,h4 {
//   line-height: 1.3;
// }

// .h1,h1 {
//   font-size: 400%;
//   letter-spacing: -2px;
// }

// .h2,h2 {
//   font-size: 250%;
//   letter-spacing: -1px;
// }

// .h3,h3 {
//   font-size: 200%;
// }

// .h4,h4 {
//   font-size: 180%;
// }

// .h5,h5 {
//   font-size: 130%;
// }

.fixed {
  font-family: $fixed_font_family;
  font-size: inherit;
  line-height: inherit;
}

.quiet {
  font-color: $quiet_color;
}

.loud {
  font-color: $loud_color;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
  @extend .loud;
}

.block-margins {
  margin: 1em 0;
}

.unordered-list {
  list-style-type: disc;
}

.ordered-list {
  list-style: decimal;
}

p {
  // line-height: 1.5em;
  font-weight: 200;
  // margin-bottom: 2em;
}

a{
  text-decoration: none;
  color: $link_colour;
  position: relative;

  // &:hover {
  //   padding-bottom: 5px;

  //   &:after {
  //     content: '';
  //     position: absolute;
  //     left: 50%;
  //     bottom: 0;
  //     height: 2px;
  //     width: 50%;
  //     border-bottom: 1px solid $link_colour;
  //     transform: translateX(-50%);
  //   }
  // }
}
.mini {
  font-size: $miniSize + em;
}

.tiny {
  font-size: $tinySize + em;
}

.small {
  font-size: $smallSize + em;
}

.medium {
  font-size: $mediumSize + em;
}

.large {
  font-size: $largeSize + em;
}

.big {
  font-size: $bigSize + em;
}

.huge {
  font-size: $hugeSize + em;
}

.massive {
  font-size: $massiveSize + em;
}


