input[type="submit"]{
  padding: 1em 2em;
}

.mm-button {
  overflow: visible;
  width: auto;
  background: #F5F5F5;
  min-width: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: inline-flex; // height: 4em;
  border-radius: $default_border_radius;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: border-box !important;
  border: none;
  font-family: $header-font;
  font-size: 0.9em;
  font-weight: 700;
  padding: 1em 2em;
  border: none;
  position: relative;
  transition: background linear 100ms;
  margin-right: 5px;
  &:active,
  &:focus {
    outline: 0;
  }
  &:hover {
    background: darken(#F5F5F5, 2%);
  }
  i {
    font-size: 1.7em;
  }
}

.mm-button__icon {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  align-items: center;
}

::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

.mm-button--fluid {
  width: 100%;
}

.mm-button--round {
  border-radius: $round_edges;
}

.mm-button--disabled {
  background: darken(#F5F5F5, 2%);
  color: lighten($text-color, 50%);
  cursor: not-allowed;
}

.mm-button--outline {
  background: #fff;
  box-shadow: inset 0px 0px 0px 2px #F5F5F5;
}

.mm-buttons--right {
  text-align: right;
  justify-content: right;
}

.mm-button-group {
  display: inline-flex;
  width: 100%;
}

.mm-button-group .mm-button {
  border-radius: 0;
  min-width: 1px;
  margin-right: 0;
  border-left: $light_border;
  &:first-child {
    @include border_left_radius($default_border_radius);
    border-left: none;
  }
  &:last-child {
    @include border_right_radius($default_border_radius);
  }
}

.mm-button-group .mm-button--active {
  background: darken(#F5F5F5, 2%);
  border: none;
}

.mm-button-group--round .mm-button {
  border-radius: 0;
  &:first-child {
    @include border_left_radius($round_edges);
  }
  &:last-child {
    @include border_right_radius($round_edges);
  }
}

.mm-button-group-pagination {
  display: flex;
  .mm-button {
    flex: 1;
  }
  .mm-button i {
    margin: 0;
  }
}

$list: info warning success error primary;
@each $color in $list {
  .mm-button--#{$color} {
    background: transparentize(map-get($colors, $color), 0.1);
    color: $white;
    &:hover {
      background: darken(map-get($colors, $color), 2%);
    }
    &.mm-button--outline {
      background: $white;
      color: map-get($colors, $color);
      box-shadow: inset 0px 0px 0px 2px map-get($colors, $color);
      &:hover {
        background: map-get($colors, $color);
        color: white;
      }
    }
    &.mm-button--disabled {
      background: darken(map-get($colors, $color), 5%);
      color: transparentize($white, 0.5);
    }
  }
}

@each $color in $list {
  .mm-button--#{$color} {
    .mm-button__icon {
      background: transparentize(map-get($colors, $color), 0.5);
    }
    &.mm-button--round {
      .mm-button__icon {
        border-radius: 200em;
      }
    }
  }
}

@for $i from 1 through $default_col_number {
  .mm-button-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}

@for $i from 1 through $max_button_group_size {
  .mm-button-group-#{$i} {
    .mm-button {
      width: calc(100%/#{$i});
    }
  }
}

$sizeList: tiny small medium large big huge massive;
@each $size in $sizeList {
  .mm-button--#{$size} {
    font-size: map-get($sizes, $size) + em;
  }
}

@each $size in $sizeList {
  .mm-button-group--#{$size} {
    .mm-button {
      font-size: map-get($sizes, $size) + em;
    }
  }
}


/* Responsive */

@media only screen and (max-width: $tablet_breakpoint) {
  .mm-button {
    width: 100%;
  }
  .mm-button-group {
    display: block;
    width: 100%;
    .mm-button {
      width: 100% !important;
      display: flex !important;
      flex-basis: 100%;
      border-radius: $default_border_radius !important;
      display: block;
      align-items: center;
      margin-bottom: 10px;
    }
  }
}