input.cmn-toggle-round + label {
  padding: 2px;
  width: 60px;
  height: 20px;
  background-color: #dddddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  width: 18px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.03);
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: $success-color;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 40px;
}

.mm-checkbox {
  input[type="checkbox"] {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
}

.mm-checkbox{
  input[type="checkbox"] + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
  }
}

