.mm-icon{
  width: 60px;
  height: 60px;
  display: inline-block;

}

$icon_list: add-to-list add-user resize-full-screen resize-100 address adjust air aircraft-landing aircraft-take-off aircraft align-bottom align-horizontal-middle align-left align-right align-top align-vertical-middle archive area-graph arrow-bold-down arrow-bold-left arrow-bold-right arrow-bold-up arrow-down arrow-left arrow-long-down arrow-long-left arrow-long-right arrow-long-up arrow-right arrow-up arrow-with-circle-down arrow-with-circle-left arrow-with-circle-right arrow-with-circle-up attachment awareness-ribbon back-in-time back bar-graph battery beamed-note bell blackboard block book bookmark bookmarks bowl box briefcase browser brush bucket bug cake calculator calendar camera ccw chat check chevron-down chevron-left chevron-right chevron-small-down chevron-small-left chevron-small-right chevron-small-up chevron-thin-down chevron-thin-left chevron-thin-right chevron-thin-up chevron-up chevron-with-circle-down chevron-with-circle-left chevron-with-circle-right chevron-with-circle-up circle-with-cross circle-with-minus circle-with-plus circle circular-graph clapperboard classic-computer clipboard clock cloud code cog colours compass controller-fast-backward controller-fast-forward controller-jump-to-start controller-next controller-paus controller-play controller-record controller-stop controller-volume copy creative-commons-attribution creative-commons-noderivs creative-commons-noncommercial-eu creative-commons-noncommercial-us creative-commons-public-domain creative-commons-remix creative-commons-share creative-commons-sharealike creative-commons credit-card credit crop cross cup cw cycle database dial-pad direction document-landscape document documents dot-single dots-three-horizontal dots-three-vertical dots-two-horizontal dots-two-vertical download drink drive drop edit email emoji-flirt emoji-happy emoji-neutral emoji-sad erase eraser export eye-with-line eye feather fingerprint flag flash flashlight flat-brush flow-branch flow-cascade flow-line flow-parallel flow-tree flower folder-images folder-music folder-video folder forward funnel game-controller gauge globe graduation-cap grid hair-cross hand heart-outlined heart help-with-circle help home hour-glass image-inverted image images inbox infinity info-with-circle info install key keyboard lab-flask landline language laptop layers leaf level-down level-up lifebuoy light-bulb light-down light-up line-graph link list location-pin location lock-open lock log-out login loop magnet magnifying-glass mail man map mask medal megaphone menu merge message mic minus mobile modern-mic moon mouse-pointer mouse music network new-message new news newsletter note notification notifications-off old-mobile old-phone open-book palette paper-plane pencil phone pie-chart pin plus popup power-plug price-ribbon price-tag print progress-empty progress-full progress-one progress-two publish quote radio remove-user reply-all reply retweet rocket round-brush rss ruler save scissors select-arrows share-alternative share shareable shield shop shopping-bag shopping-basket shopping-cart shuffle signal sound-mix sound-mute sound sports-club spreadsheet squared-cross squared-minus squared-plus star-outlined star stopwatch suitcase swap sweden switch tablet-mobile-combo tablet tag text-document-inverted text-document text thermometer thumbs-down thumbs-up thunder-cloud ticket time-slot tools traffic-cone trash tree triangle-down triangle-left triangle-right triangle-up trophy tv typing uninstall unread untag upload-to-cloud upload user users v-card video-camera video vinyl voicemail wallet warning water;
@each $icon in $icon_list {
  [data-icon="#{$icon}"] {
    background-color: $primary-color;
    -webkit-mask : url('../../icons/Entypo+/#{$icon}.svg') no-repeat 50% 50%;
    // background-image: ;
    // background-repeat: no-repeat;
    // background-position: center center;
    -webkit-mask-size: 2em 2em;
  }
}