.mm-alert {
  text-align: left;
  box-sizing: border-box;
  width: 100%;
  margin-right: 10px;
  height: 40px;
  overflow: hidden;
}

.mm-alert-main,
.mm-alert__main {
  background: #fff;
  border: $default_border;
  display: flex;
  height: 40px;
  position: relative;
  align-items: center;
  font-weight: 200;
  border-radius: $default_border_radius;
}

.mm-alert-main,
.mm-alert__main {
  i,
  .mm-alert__icon{
    display: flex;
    width: 50px;
    align-items: center;
    min-height: 100%;
    justify-content: center;
    height: inherit;
  }
}

.mm-alert-main,
.mm-alert__main{
  img{
    display: block;
    max-width: 30px;
    max-height: 30px;
    width: auto;
    height: auto;
    position: relative;
    border-radius: 200em;
    padding: 3px;
    border: $default_border;
    margin-left: 5px;
  }
}

.mm-alert-content,
.mm-alert__content{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mm-alert--round {
  .mm-alert-main,
  .mm-alert__main{
    border-radius: 200em;
    i{
      border-radius: 200em;
    }
  }
}

@for $i from 4 through $default_col_number {
  .mm-alert-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}


$list: info warning success error primary;
@each $color in $list {
  .mm-alert--#{$color} {
    .mm-alert-main,
    .mm-alert__main {
      background: transparentize(map-get($colors, $color), 0.1);
      color: $white;

      i{
        background: transparentize(map-get($colors, $color), 0.9);
      }
    }
  }
}

@media (max-width: $tablet_breakpoint) {
  .mm-alert {
    width: 100%;
  }
}
