.mm-breadcrumb {
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

.mm-breadcrumb__item {
  list-style-type: none;
  display: inline;
  margin-right: 10px;

  &:after{
    content: '/';
    margin-left: 10px;
  }
}

.mm-breadcrumb__item:last-child{
  &:after{
    content: ' ';
  }
}

.mm-breadcrumb__item--active {
  font-weight: 700;
}
