.mm-dropdown{
  display: none;
  position: absolute;
  min-width: 200px;
  background: $white;
  border-radius: $default_border_radius;
  z-index: 100;
  border: $default_border;
}

@mixin pointerStyles(){
  width: 10px;
  height: 10px;
  background: $white;
  content: '';
  position: absolute;
  top: -5px;
  transform: translateX(-60%) rotate(45deg);
  border-top: $default_border;
  border-left: $default_border;

}

.mm-dropdown--pointer {
  &:after{
    @include pointerStyles();
     left: 50%;
  }
}

.mm-dropdown--left-pointer {
  &:after {
    @include pointerStyles();
    left: 10%;
  }
}

.mm-dropdown--right-pointer {
  &:after {
    @include pointerStyles();
    right: 10%;
  }
}



.mm-dropdown ul{
  padding: 0;
  margin: 0;
}

.mm-dropdown li {
  list-style: none;
  height: 40px;
  border-bottom: $default_border;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;

  a{
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: inherit;

    i{
      margin-right: 10px;
    }
  }

  &:hover{
    background: rgba(0,0,0,0.02);
  }
  &:last-child{
    border-bottom: none;
  }
}