.mm-events {

}

.mm-event {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-bottom: 10px;
  position: relative;

  &:before {
    font-family: Ionicons;
    content: '\f400';
    position: absolute;
    font-size: 1.3em;
    color: rgba(0,0,0,0.2);
    padding: 3px;
    z-index: 2;
  }
}

.mm-event__description {
  width: 90%;
  background: $white;
  min-height: inherit;
  display: flex;
  align-items: center;
  position: relative;
  left: 8%;
  border-radius: $default_border_radius;
  border: $default_border;
  font-weight: 200;
  flex-direction: column;
  z-index: 1;
  padding: 10px;
}

.mm-event__date {
  width: 100%;
  flex: 1;
  min-height: 25px;
  justify-content: center;
  text-align: right;
  font-size: 0.8em;
  align-items: center;
  padding: 3px 10px;
  text-transform: uppercase;
  order: 1;
}

.mm-event__text {
  width: 100%;
  order: 2;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: left;
  text-align: left;
  padding: 10px;
}

$list: info warning success error primary;
@each $color in $list {
  .mm-event--#{$color} {
    &:before {
      color: map-get($colors, $color);
    }
    .mm-event__description {
      background: transparentize(map-get($colors, $color), 0.1);
      color: $white;
      &:before {
        color: transparentize(map-get($colors, $color), 0.1);
      }
    }
  }
}

@media (max-width: $tablet_breakpoint) {
  .mm-event {
    flex-direction: column;
    &:before {
      display: block;
      position: relative;
      left: 0;
    }
  }
  .mm-event__description {
    width: 100%;
    left: 0;
  }
}



