input:focus,
select:focus {
  outline: 0;
}

input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

input[type=file] {}

textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

.mm-select {
  background: transparent;
  border: $default_border;
  display: block;
  width: 100%;
  height: 45px;
  border-radius: 0;

  option {
    display: block;
  }
}

.mm-radio-label {
  margin-left: 10px;
}


select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

.mm-form {
  display: block;
  width: 100%;
}

.mm-field {
  display: block;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

.mm-field--inline {
  flex-direction: row;
  height: 40px;

  .mm-field__label{
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
  }
  .mm-field__input{
    flex: 2;
  }
}


.mm-field.aligned-right{
  text-align: right;
}

.mm-field__input {
  display: block;
  width: 100%;
  height: 46px;
  border: $default_border;
  border-radius: $default_border_radius;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  font-weight: 200;
  font-family: $base_font_family;

  &:focus{
    border-color: lighten($primary-color, 50%);
    outline-width: 1px;
  }
}

.mm-field__message {
  font-size: 0.9em;
  font-weight: 200;
  margin-top: 5px;
  font-style: italic;
}

$list: info warning success error primary;
@each $color in $list {
  .mm-field--#{$color} {
    .mm-field__input, .mm-textarea, .selectric {
      border-color: map-get($colors, $color);
      color: map-get($colors, $color);
    }
    .mm-field__label {
      color: map-get($colors, $color);
    }
    .mm-field__message {
      color: map-get($colors, $color);
    }
  }
}


.mm-field__label {
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: $primary-color;
  font-family: $header-font;
  font-size: 0.9em;
  font-weight: 700;
}

.mm-textarea {
  resize: none;
  width: 100%;
  border: $default_border;
  border-radius: $default_border_radius;
  padding: 20px;
  outline-width: 1px;
  outline: none;
  font-weight: 200;
  min-height: 100px;
}

@for $i from 1 through $default_col_number {
  .mm-field-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}

.mm-form{
  .mm-row{
    margin-bottom: 0;
  }
}

@media (max-width: $tablet_breakpoint) {
  .mm-form {
    .field {
      width: 100%;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .mm-form{
    .mm-row{
      margin-bottom: 10px;
    }
  }
}

.selectric {
  background: $subtle_highlight;
  border: $default_border;
  border-radius: $default_border_radius;
  height: 46px;
  display: flex;
  align-items: center;
}

  @media only screen and (max-width: $tablet_breakpoint) {
    .mm-field {
      width: 100%;
    }
  }
