.mm-hero {
  height: 400px;
  min-height: 400px;
  display: flex;
  align-items: center;
  background: $primary-color;
  margin-bottom: 20px;

  &__title {
    font-weight: 700;
    font-size: 3em;
    color: $gold;
  }

  &__description {
    color: $gold;
    font-size: 1.3em;
    letter-spacing: 0.5px;
    width: 50%;
  }
}

