.mm-list{
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.mm-list__item{
  display: flex;
  padding: 5px;
  align-items: center;
  position: relative;
  padding-left: 20px;

  &:before{
    font-family: Ionicons;
    content: '\f3a7';
    color: $primary-color;
    position: absolute;
    left: 0;
    padding: 2px;
    font-size: 0.8em;
  }

  &:last-child{
    border-bottom: none;
  }
}

.mm-list--fancy{
  .mm-list__item {
    border-radius: $default_border_radius;
    background: $subtle_highlight;
    padding: 10px 30px;
    margin-bottom: 5px;

    &:before{
      left: 10px;
    }
  }
}

