@import "config/mimi_config";

.mm-message {
  text-align: left;
  width: 100%;
  background: #fff;
  border-radius: $default_border_radius;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  border: $default_border;
  font-weight: 200;
  overflow: hidden;
}

.mm-message__header{
  display: flex;
  align-items: center;
  justify-content: left;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: 700;
}

.mm-message__text {
  margin-bottom: 0;
}

@each $name, $color in $colors {
  .mm-message--#{$name} {
    background: $color;
    color: $white;
  }
}


@for $i from 1 through $default_col_number {
  .mm-message-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}