.mm-pill{
  display: inline-flex;
  padding: 2px 1em;
  border-radius: $default_border_radius;
  border: $default_border;
  background: $white;
  align-items: center;
  font-size: 0.8em;
  font-weight: 200;
}

.mm-pill--round{
  border-radius: $round_edges;
}

.mm-pill--strong {
  font-weight: 700;
}


$list: info warning success error primary dark;
@each $color in $list {
  .mm-pill--#{$color} {
    background: map-get($colors, $color);
    color: $white;
  }
}

/* Responsive */

@media only screen and (max-width: $tablet_breakpoint) {
  .mm-pill {
    width: 100%;
  }
}

