.mm-progress{
  background: rgba(0,0,0,0.06);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: $default_border_radius;
}

.mm-progress__main {
  text-align: center;
  justify-content: center;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(216, 81, 81, 0.02);
  border: $default_border;
  border-radius: $default_border_radius;
  font-weight: 200;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@for $i from 1 through 100 {
  .mm-progress__main[data-percentage-complete="#{$i}"] {
    width: $i + %;
  }
}


@for $i from 1 through $default_col_number {
  .mm-progress-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}

// Colors
@each $name, $color in $colors {
  .mm-progress--#{$name} {
    .mm-progress__main {
      background: darken($color, 1%);
      color: $white;
    }
  }
}

// Variation

.mm-progress--round{
  border-radius: 200em;

  .mm-progress__main{
    border-radius: 200em;
  }
}

@each $name, $size in $sizes {
  .mm-progress--#{$name} {
    height: $size * 2 + em;

    .mm-progress__main {
      padding: $size / 4 + em;
      font-size: $size / 1.5 + em;
    }
  }
}

.mm-progress.centered-text{
  > .mm-progress__main{
    text-align: center;
    justify-content: center;
  }
}

.mm-progress.no-margin{
  margin-bottom: 0;
}
