.mm-steps {
  .mm-step:first-of-type {
    border-top: $default_border;
    @include border_top_radius($default_border_radius);
  }

  .mm-step:last-of-type {
    @include border_bottom_radius($default_border_radius);
  }
}

.mm-step {
  background: white;
  display: flex;
  align-items: center;
  display: block;
  width: 100%;
  border: $default_border;
  border-top: none;
  margin-bottom: 0;
  padding: 1.5em;
  position: relative;

  &:before {
    content: '\f401';
    font-family: Ionicons;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5em;
    color: rgba(0,0,0,0.3);
  }
}

.mm-step__content {

}

.mm-step--active {
  background: #f2f2f2;
  font-weight: 700;
  color: $info_color;

  &:before {
    content: '\f400';
    color: $info_color;
  }
}

.mm-step--completed {
  background: transparentize($success_color, 0.1);
  color: white;
  font-weight: 700;

  &:before {
    content: '\f3fe';
    color: rgba(255,255,255,0.6);
  }
}

.mm-step--incomplete {
  background: transparentize($error_color, 0.1);
  color: white;
  font-weight: 700;
  &:before {
    content: '\f405';
    color: rgba(255, 255, 255, 0.6);
  }
}