.mm-table {
  background: $white;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border-bottom: none;
  border-radius: $default_border_radius;
}

.mm-table__thead {
  border-collapse: collapse;
}

.mm-table__th {
  text-align: left;
  padding: 8px 15px;
  border-right: $default_border;
  border-top: $default_border;
  border-bottom: $default_border;
  text-transform: uppercase;
  color: lighten(#2a2a2a, 20%);
  letter-spacing: 1px;
  font-size: 0.9em;
  &:first-child {
    position: relative;
    &:before {
      content: '';
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      left: 0;
      min-height: 100%;
      top: 0;
      width: 1px;
    }
  }
}

.mm-table__td {
  border-right: $default_border;
  border-bottom: $default_border;
  font-weight: 200;
  min-height: 40px;
  padding: 8px 15px;
}

.mm-table__row,
.mm-table__tr {
  td:first-child {
    position: relative;
    &:before {
      content: '';
      background: rgba(0, 0, 0, 0.05);
      position: absolute;
      left: 0;
      min-height: 100%;
      top: 0;
      width: 1px;
    }
  }
  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }
}

.mm-table__td--center {
  text-align: center;
}

.mm-table__footer {
  background: $subtle_highlight;
}

.mm-table--striped {
  .mm-table__tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.04);
  }
}

$list: info warning success error primary;
@each $color in $list {
  .mm-table__tr--#{$color} {
    background-color: transparentize(map-get($colors, $color), 0.1) !important;
    color: $white;
    &:hover {
      background: transparentize(map-get($colors, $color), 0) !important;
    }
  }
}


/* Responsive */

@media only screen and (max-width: $tablet_breakpoint) {
  .mm-table {
    width: 100%;
  }
  .mm-table__th {
    background: rgba(0, 0, 0, 0.04);
    border-bottom: none;

    &:last-of-type{
      border-bottom: $default_border;
    }
  }
  .mm-table__th,
  .mm-table__td {
    display: flex;
    align-items: center;
    justify-content: left;
    border-left: $default_border;
  }
}

