.mm-todo {
  padding: 0;
  margin: 0;
}

.mm-todo__item {
  list-style: none;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: $default_border_radius;
  border: $light_border;
  margin-bottom: 2px;
  position: relative;
  background: lighten($subtle_highlight, 80%);
  &:hover {
    cursor: pointer;
    background: lighten($subtle_highlight, 50%)
  }
}

.mm-todo__priority {
  flex: 1;
  justify-content: center;
  max-width: 40px;
  min-width: 40px;
  position: relative;
  order: 3;
  display: flex;
  align-items: center;
  height: inherit;
  font-family: $header_font;
  &[data-priority="high"] {
    color: $error-color;
  }
  &[data-priority="low"] {
    color: $info-color;
  }
  &[data-priority="normal"] {
    color: $warning-color;
  }
}

.mm-todo__task {
  flex: 5;
  justify-content: left;
  padding: 0 10px;
  order: 1;
  display: flex;
  align-items: center;
  height: inherit;
  font-family: $header_font;
}

.mm-todo__task-detail {
  width: 100%;
  font-weight: 200;
  p {
    padding: 0;
    margin: 0;
  }
}

.mm-todo__duedate {
  flex: 1;
  justify-content: left;
  font-size: 0.8em;
  border-left: $light_border;
  min-width: 100px;
  padding: 0 20px;
  order: 2;
  display: flex;
  align-items: center;
  height: inherit;
  font-family: $header_font;
}

.mm-todo__item--complete {
  .mm-todo__duedate,
  .mm-todo__priority,
  .mm-todo__task {
    background: $success-color;
    color: $white;
  }
  .mm-todo__task {
    text-decoration: line-through;
    .mm-progress .main {
      width: 100%;
      background: $success-color;
    }
  }
}


/* Responsive */

@media only screen and (max-width: $tablet_breakpoint) {
  .mm-todo__item {
    height: auto !important;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    &:before {
      content: none;
    }
  }
  .mm-todo__priority,
  .mm-todo__duedate,
  .mm-todo__task {
    width: 100%;
    max-width: 100%;
    border: none;
    border-bottom: $light_border;
    height: 40px;
    text-align: center;
    justify-content: center;
  }
  .mm-todo__task-detail {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mm-todo__priority {
    border-bottom: none;
  }
}