<!doctype html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1"><title>FAQ - MIMI UI</title><link rel="stylesheet" href="../css/mimi.css"><link rel="apple-touch-icon" href=".../images/touch/apple-touch-icon.png"><link rel="icon" sizes="192x192" href="../images/touch/chrome-touch-icon-192x192.png"></head><body class="mimi"><div class="mm-main" id="app"><div class="mm-admin-topbar"><div class="mm-topbar__logo"><a href="demo.html"><img src="../images/mimi_dark.png" alt=""></a></div><div class="mm-admin-topbar__title"></div></div><div class="mm-content"><div class="mm-hero"><div class="mm-container"><div class="mm-hero__title animated slideInLeft">Frequently Asked Questions</div><div class="mm-hero__description animated slideInLeft">Nulla purus nunc, gravida vitae metus in, venenatis feugiat nulla. Fusce convallis odio nec massa accumsan, eget tempus nisl ornare. Mauris in rhoncus lectus. Vivamus quis leo nec lacus efficitur mattis.</div></div></div><div class="mm-container"><div class="mm-accordion" data-accordion><div class="mm-accordion__item" v-for="(faq, index) in faqItems" :key="index"><div class="mm-accordion__header" data-accordion-header>{{ faq.question }}</div><div class="mm-accordion__content" data-accordion-content>{{ faq.answer }}</div></div></div></div></div></div><script src="https://code.jquery.com/jquery-3.1.1.min.js"></script><script src="https://cdn.jsdelivr.net/npm/vue"></script><script src="../js/dependencies.min.js"></script><script src="../js/mimi.min.js"></script><script>var app = new Vue({
      el: '#app',
      data: {
        faqItems: [
          {
            question: "Question 1",
            answer: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce posuere condimentum convallis. Nunc sit amet sodales erat. Phasellus et facilisis sapien. Nulla purus nunc, gravida vitae metus in, venenatis feugiat nulla. Fusce convallis odio nec massa accumsan, eget tempus nisl ornare. Mauris in rhoncus lectus. Vivamus quis leo nec lacus efficitur mattis.",
          },
          {
            question: "Question 2",
            answer: "Fusce sit amet condimentum mauris. Praesent nec est sed diam pharetra tempor nec sit amet felis. Nam sodales vulputate enim a euismod. Curabitur ullamcorper vehicula ipsum a facilisis. Morbi non bibendum metus. Aenean nec commodo turpis. Nulla gravida porta velit, sed sagittis turpis dictum maximus. Pellentesque et iaculis nibh. Duis non porta nisi. Pellentesque quis ornare dui. Praesent a pharetra erat, sed laoreet nulla. Etiam ornare erat vitae arcu feugiat porttitor. Vivamus auctor volutpat dolor vitae venenatis. Nam pretium iaculis metus, in eleifend felis porta nec. Morbi rhoncus, nibh ut malesuada tincidunt, nisi risus posuere lacus, non euismod diam magna non ligula. Nunc magna mauris, pretium eu sodales in, vehicula sed ante.",
          },
          {
            question: "Question 3",
            answer: "Vivamus vel pulvinar neque, nec dapibus felis. Fusce auctor ipsum ex, eget maximus turpis venenatis sed. Integer diam massa, aliquet eu risus id, dignissim commodo arcu. Proin egestas dui accumsan, interdum lorem nec, aliquam elit. Nulla vel congue lacus. Nulla vitae finibus neque. Nunc ornare risus vel magna auctor maximus. Nunc non finibus lacus, ut faucibus risus. Suspendisse consequat posuere laoreet. Curabitur finibus finibus ex at rutrum. Ut tempor leo turpis, a fermentum est dapibus ut. Fusce condimentum nec metus non aliquam. Aenean interdum scelerisque ex vel interdum.",
          },
          {
            question: "Question 4",
            answer: "Maecenas mollis porta erat. Quisque luctus ligula aliquam enim sagittis efficitur. Morbi cursus, mi quis iaculis aliquam, est risus mattis felis, ac porttitor purus dolor ac tellus. Curabitur laoreet nulla eget scelerisque imperdiet. Nulla facilisi. Nunc viverra, justo at consectetur gravida, enim dui dapibus urna, non scelerisque nunc nulla at ligula. Nam tempor dapibus vehicula. Mauris mollis mauris a nulla ultricies consequat blandit sit amet quam. Etiam finibus purus et ante molestie pellentesque. Duis suscipit, purus nec ultrices venenatis, arcu urna congue nisl, a finibus nisl sem vitae dolor. Aliquam faucibus tellus odio, at rhoncus est suscipit vitae. Ut laoreet sapien ut tortor ultricies, nec aliquam nisi condimentum. Donec commodo volutpat neque, et lacinia tortor blandit porta.",
          },
          {
            question: "Question 5",
            answer: "Praesent vitae orci mauris. Nulla ut malesuada lacus, sed ullamcorper mauris. Fusce vel dapibus tellus. Mauris sit amet urna malesuada, semper leo a, suscipit est. Aenean elementum feugiat libero nec congue. Sed quis hendrerit ex. Quisque nec interdum dolor. Etiam consectetur porta diam viverra mattis.",
          },
          {
            question: "Question 6",
            answer: "Maecenas mollis porta erat. Quisque luctus ligula aliquam enim sagittis efficitur. Morbi cursus, mi quis iaculis aliquam, est risus mattis felis, ac porttitor purus dolor ac tellus. Curabitur laoreet nulla eget scelerisque imperdiet. Nulla facilisi. Nunc viverra, justo at consectetur gravida, enim dui dapibus urna, non scelerisque nunc nulla at ligula. Nam tempor dapibus vehicula. Mauris mollis mauris a nulla ultricies consequat blandit sit amet quam. Etiam finibus purus et ante molestie pellentesque. Duis suscipit, purus nec ultrices venenatis, arcu urna congue nisl, a finibus nisl sem vitae dolor. Aliquam faucibus tellus odio, at rhoncus est suscipit vitae. Ut laoreet sapien ut tortor ultricies, nec aliquam nisi condimentum. Donec commodo volutpat neque, et lacinia tortor blandit porta.",
          },
          {
            question: "Question 7",
            answer: "Praesent vitae orci mauris. Nulla ut malesuada lacus, sed ullamcorper mauris. Fusce vel dapibus tellus. Mauris sit amet urna malesuada, semper leo a, suscipit est. Aenean elementum feugiat libero nec congue. Sed quis hendrerit ex. Quisque nec interdum dolor. Etiam consectetur porta diam viverra mattis.",
          },
        ],
      }
    });</script></body></html>