<!doctype html><html lang="en"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1"><title>Demos - MIMI UI</title><link rel="stylesheet" href="../css/mimi.css"><link rel="apple-touch-icon" href=".../images/touch/apple-touch-icon.png"><link rel="icon" sizes="192x192" href="../images/touch/chrome-touch-icon-192x192.png"></head><body class="mimi"><div class="mm-main" id="app"><div class="mm-admin-topbar"><div class="mm-topbar__logo"><a href="/"><img src="../images/mimi_dark.png" alt=""></a></div><div class="mm-admin-topbar__title"></div></div><div class="mm-content"><div class="mm-hero"><div class="mm-container"><div class="mm-hero__title animated slideInLeft">Demos</div><div class="mm-hero__description animated slideInRight">Here are some examples of what you can do with MIMI.</div></div></div><div class="mm-container"><div class="mm-segment" v-for="(demo, index) in demos" :key="index"><a :href="demo.url"><div :href="demo.url" class="mm-segment__main">{{ demo.name }}</div></a></div></div></div></div><script src="https://code.jquery.com/jquery-3.1.1.min.js"></script><script src="https://cdn.jsdelivr.net/npm/vue"></script><script src="../js/dependencies.min.js"></script><script src="../js/mimi.min.js"></script><script>var app = new Vue({
      el: '#app',
      data: {
        demos: [
          {
            name: "Login Page",
            url: "login.html",
          },
          {
            name: "General Dashboard",
            url: "dashboard.html",
          },
          {
            name: "FAQ Page",
            url: "faq.html",
          },
        ],
      },
    });</script></body></html>