.mm-admin-topbar {
  height: 60px;
  width: 100%;
  background: $topbar-color;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.mm-topbar__logo {
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
  background: $subtle_highlight;
  height: inherit;
  img {
    max-height: calc(60px * 0.6);
  }
}

.mm-admin-topbar__title {
  display: flex;
  align-items: center;
  flex: 1;
  height: inherit;
  padding: 0 20px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-family: $header_font;
  font-weight: bold;
  color: $primary-color;
}

.mm-offcanvas-trigger{
  display: flex;
  width: 60px;
  height: inherit;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  cursor: pointer;
}


.mm-topbar__menu {
  display: flex;
  align-items: center;
  height: inherit;
  justify-content: flex-end;
  flex: auto;
  font-weight: 200;
}

.mm-topbar__menu-item {
  padding: 0 1.5em;
  height: inherit;
  display: inline-flex;
  align-items: center;
  min-width: 60px;
  justify-content: center;
  text-transform: uppercase;

  i{
    font-size: 1.8em;
  }

  &:hover{
    background: $subtle_highlight;
  }
}

.mm-topbar__user-name--bold {
  font-family: $header_font;
  font-weight: 900;
}

.mm-topbar__user-name--cursive {
  font-family: $cursive_font;
  text-transform: capitalize;
  font-size: 1.5em;
}

.mm-admin-topbar__user {
  display: flex;
  align-items: center;
  height: inherit;
  background: $subtle_highlight;
  max-width: 250px;
  padding: 0 20px 0 10px;
  text-transform: uppercase;
  font-size: 0.85em;
  figure {
    margin: 0;
    width: 60px;
    height: inherit;
    text-align: center;
    img {
      display: block;
      max-width: 80%;
      max-height: 80%;
      width: auto;
      height: auto;
      margin: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 200em;
      padding: 3px;
      border: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
  .details {}
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: $tablet_breakpoint) {
  .mm-admin-topbar__logo {
    width: 80px;
    height: 60px;
    // display: block;
  }

  .mm-admin-topbar__title {
    width: 100%;
    height: 60px;
    // display: block;
  }

  .mm-admin-topbar__notifications {
    display: none;
  }

  .mm-topbar__menu {
     display: none;
  }

  .mm-admin-topbar__user {
    display: none;
  }
}
