.mm-full-size-element {
  width: 100%;
  height: 100%;
}

.mm-splash {
  width: 100%;
  min-height: calc(90% - 60px);
  display: block;
  background: $primary-color;
  background-image: url('../images/mimi-mockup.png');
  background-size: auto 50%;
  background-repeat: no-repeat;
  background-position: center 120%;
  padding: 0 20px;
  position: relative;
}

.mm-splash__content {
  text-align: center;
}

.mm-background--white {
  background: $white;
}

.mm-background--primary {
  background: $primary-color;
  color: $white;
}

.mm-showcase {
  padding: 20px 0;
}

.app-landing-footer {
  background: $dark-color;
  min-height: 10%;
  color: darken(white, 40%);
  font-weight: 200;
  display: flex;
  align-items: center;
  font-size: 1.1em;

  a{
    color: white;
  }
}
.app-landing-footer__heart-icon {
  color: #F64747;
  margin: 0 5px;
}

.app-landing-footer__icon {
  margin-right: 10px;
}

.mm-aim {
  text-align: center;
  // display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  text-transform: uppercase;
  font-weight: 200;
}

.mm-splash--centered {
  justify-content: center;
  text-align: center;
}

.mm-splash__header {
  font-size: 8em;
  font-weight: 700;
  width: 100%;
  color: $white;
  margin-top: 100px;
  letter-spacing: 4px;
}

.mm-splash__sub-header {
  width: 100%;
  text-align: center;
  color: $white;
  font-size: 2em;
  margin-top: -20px;
  text-transform: uppercase;
}

.mm-topbar--transparent {
  background: none;
}

.mm-topbar--primary {
  background: $primary-color;
  .mm-topbar__logo {
    background: none;
  }
}

.mm-topbar--white-text {
  color: $white;
  a {
    color: $white;
  }
}

.mm-topbar--unfixed {
  position: relative;
}

.mm-banner {
  width: 100%;
  height: 200px;
  padding: 20px;
}

.mm-font-cursive {
  font-family: $cursive_font;
}

.mm-features {
  background: #2a2a2a;
}

$banner_sizes: 100 200 300 400 500;
@each $size in $banner_sizes {
  .mm-banner--#{$size} {
    min-height: $size + px;
    padding: 20px;

    > .mm-container {
      padding: 0;
    }
  }
}

.visible-on-tablet {
  display: none;
}

@media (max-width: $tablet_breakpoint) {
  .mm-splash {
    background-size: 90% auto;
    background-position: center 100%;
  }

  .mm-splash__header{
    margin-top: 50px;
    font-size: 4.5em;
    letter-spacing: 2px;
  }

  .mm-splash__sub-header {
    font-size: 1.1em;
  }

  .app-landing-footer {
    font-size: 1em;
  }

  .visible-on-tablet {
    display: inline-flex;
  }
}


