.mm-card {
  width: 100%;
  height: 100%;
  text-align: left;
  align-self: flex-start;
  background: white;
  border: $default_border;
  border-radius: $default_border_radius;
  overflow: hidden;
}

.mm-card--centered {
  margin: 0 auto;
}

// Main Wrapper
.mm-card__main{
  background: #fff;

}

// Header
.mm-card__header{
  min-height: 60px;
  max-height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
  color: $primary-color;
  position: relative;
  text-transform: uppercase;
  font-family: $header_font;
  font-weight: 700;
  letter-spacing: 1px;
}

.mm-card__header-image {
  display: block;
  width: 40px;
  height: auto;
  position: relative;
  border-radius: 200em;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin-right: 10px;
  margin-left: -10px;
}

.mm-card__profile {
  text-align: center;
}

.mm-card__profile img {
  max-width: 200px;
  height: auto;
  border-radius: 200em;
  padding: 5px;
  border: $default_border;
  margin: 0 auto;
}

.mm-card__header-icon {
  width: 60px;
  height: 60px;
  text-align: center;
  position: relative;
  left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darken(#ffffff, 2%);
  font-size: 1.4em;
  background-size: 1.5em 1.5em !important;
}


/* Content */
.mm-card__content{
  min-height: 40px;
  width: 100%;
  padding: 20px;
  font-weight: 200;
  background: inherit;
  border-bottom: $light_border;

  &:last-child{
    border-bottom: none;
  }
}

// Footer
.mm-card__footer {
  min-height: 50px;
  width: 100%;
  background: #fafafa;
  padding: 10px 20px;
  box-sizing: border-box;
}

@for $i from 1 through $default_col_number {
  .mm-card-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}

@media (max-width: $tablet_breakpoint) {
  .mm-card {
    width: 100%;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


// Micro Stat
.mm-card--micro,
.mm-card.micro {
  .mm-card__content {
    display: flex;
    align-items: center;
    padding-left: 0;

    .mm-card__icon {
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5em;
      color: $primary-color;
      margin-right: 20px;
      border-right: 1px solid rgba(0,0,0,0.04);
    }

    img{
      max-height: 60px;
    }

    .content-text{
      header{
        font-size: 1.2em;
      }
    }
  }
}

// .mm-card--micro

// Coloured

$list: info warning success error primary;
@each $color in $list {
    .mm-card.micro.#{$color} {
      > .main{
        background: map-get($colors, $color);
        color: $white;
      }
      .content{
        i{ color: $white; }
      }
    }
}

$list: info warning success error primary dark;
@each $color in $list {
  .mm-card__content--#{$color} {
    background: transparentize(map-get($colors, $color), 0.1);
    color: white;
  }
}

@each $color in $list {
  .mm-card--#{$color} {
    .mm-card__header {
      background: transparentize(map-get($colors, $color), 0.06);
      color: white;
    }

    .mm-card__content {
      background: transparentize(map-get($colors, $color), 0.1);
      color: white;
    }

    .mm-card__footer {
      background: transparentize(map-get($colors, $color), 0.07);
      color: white;
    }
  }
}