@import "config/mimi_config";

.mm-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
}

.mm-container--fluid {
  max-width: 98%;
}

.mm-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 2em;
  align-items: flex-start;

  &--equal-height {
    align-items: stretch;
  }
}

.mm-col {
  padding: 12px 0;
  border-radius: 2px;
  padding: $gutter_padding;
}

.mm-col {
  &.centered {
    margin: 0 auto;
  }
}

.mm-col--centered {
  margin: 0 auto;
}

// For Diplaying the grid
.mm-col--display {
  div{
    border: solid 1px #e7e7e7;
    text-align: center;
    padding: 12px;
    border-radius: $default_border_radius;
  }
}

@for $i from 1 through $default_col_number {
  .mm-col-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}

@media (max-width: $max_container_width) {
  .mm-container {
    width: 100%;
  }
}

@media (max-width: $tablet_breakpoint) {
  .mm-container {
    width: 100%;
  }

  .mm-container--fluid {
    width: 100%;
  }
  .mm-row {
    flex-direction: column;
  }
  .mm-col {
    width: 100%;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
