.mm-segment {
  width: 100%;
  margin-bottom: 10px;
}

.mm-segment__main {
  border: $default_border;
  background: $white;
  border-radius: $default_border_radius;
  padding: 20px;
}

.mm-segment--fixed {
  position: fixed;
}

.mm-segments {
  .mm-segment {
    margin-top: -1px;
    margin-bottom: 0;

    > .mm-segment__main {
      border-radius: 0;
    }
  }

  .mm-segment:first-of-type {
    > .mm-segment__main {
      @include border_top_radius($default_border_radius);
    }
  }

  .mm-segment:last-of-type {
    > .mm-segment__main {
      @include border_bottom_radius($default_border_radius);
    }
  }
}

// Variation

.mm-segments--highlight{
  .mm-segment{
    &:hover{
      > .mm-segment__main{
        background: darken($white, 2%);
      }
    }
  }
}

// Colours

$list: info warning success error primary dark;
@each $color in $list {
  .mm-segment__main--#{$color} {
    background: transparentize(map-get($colors, $color), 0.1);
    color: white;
  }
}

@each $color in $list {
  .mm-segments--#{$color} {
    .mm-segment__main {
      background: transparentize(map-get($colors, $color), 0.1);
      color: white;
    }
  }
}

@media (max-width: $tablet_breakpoint) {
  .mm-segment {
    width: 100%;
    margin-bottom: 20px;
  }

  .mm-segments {
    width: 100%;
    margin-bottom: 20px;

    .mm-segment {
      margin-bottom: 0px;
    }
  }
}

