<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Dashboard - MIMI UI</title>
  <link rel="icon" sizes="192x192" href="../images/touch/chrome-touch-icon-192x192.png">
  <link rel="apple-touch-icon" href=".../images/touch/apple-touch-icon.png">
  <meta name="msapplication-TileImage" content="../images/touch/ms-touch-icon-144x144-precomposed.png">
  <link rel="stylesheet" href="../css/mimi.css">
</head>

<body class="mimi">
  <div class="mm-offcanvas">
    <div class="mm-offcanvas__header">
      Menu
      <span class="mm-offcavas__close" data-close-offcanvas>
        <i class="ion-close"></i>
      </span>
    </div>
    <ul class="mm-offcanvas__menu" data-offcanvas-menu>
      <li class="mm-offcanvas__menu-item"><a href="#">My Account</a></li>
      <li class="mm-offcanvas__menu-item"><a href="#">Settings</a></li>
      <li class="mm-offcanvas__menu-item mm-offcanvas__menu-item--active"><a href="#">Contact</a></li>
    </ul>
  </div>
  <div class="mm-main" id="app">
    <div class="mm-admin-topbar">
      <div class="mm-topbar__logo">
        <a href="demo.html">
          <img src="../images/mimi_dark.png" alt="">
        </a>
      </div>
      <div class="mm-admin-topbar__title">
        Orders
      </div>
      <div class="mm-admin-topbar__user" data-dropdown-trigger data-dropdown="user-menu">
        <figure>
          <img src="../images/user.png" alt="">
        </figure>
        <div class="details">
          <span>Chijindum</span>
          <span class="mm-topbar__user-name--cursive">Babatunde</span>
        </div>
      </div>
      <div class="mm-offcanvas-trigger" data-mm-offcanvas-trigger>
        <i class="ion-android-more-vertical"></i>
      </div>
    </div>
    <div class="mm-dropdown mm-dropdown--right-pointer" data-dropdown="user-menu">
      <ul>
        <li>
          <a href="#">
            <i class="icon-params"></i> My Account
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-cog"></i>
            Settings
          </a>
        </li>
        <li>
          <a href="#">
            <i class="icon-lock"></i>
            Logout
          </a>
        </li>
      </ul>
    </div>
    <div class="mm-dropdown mm-dropdown--left-pointer" data-dropdown="card-menu">
      <ul>
        <li>
          <a href="#">My Account</a>
        </li>
        <li>
          <a href="#">Settings</a>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
      </ul>
    </div>

    <div class="mm-content">
      <div class="mm-container mm-container--fluid">
        <!-- Breadcrumb -->
        <div class="mm-row">
          <div class="mm-col mm-col-12">
            <ul class="mm-breadcrumb">
              <li class="mm-breadcrumb__item"><a href="#">Home</a></li>
              <li class="mm-breadcrumb__item"><a href="#">Business</a></li>
              <li class="mm-breadcrumb__item mm-breadcrumb__item--active">Orders</li>
            </ul>
          </div>
        </div>
        <!-- Long Indicators -->
        <div class="mm-row mm-row--equal-height">
          <div class="mm-col mm-col-9">
            Welcome to your <strong>{{message}}</strong> dashboard!
          </div>
          <div class="mm-col mm-col-3">
            <div class="mm-button-group mm-button-group-5">
              <div class="mm-button mm-button--primary animated slideInLeft faster" data-mm-modal-trigger="confirm-export">
                <i class="ion-wrench"></i>
              </div>
              <div class="mm-button mm-button--info animated slideInDown faster">
                <i class="ion-person-add"></i>
              </div>
              <div class="mm-button mm-button--success animated slideInUp faster">
                <i class="ion-chatbubbles"></i>
              </div>
              <div class="mm-button mm-button--warning animated slideInDown faster">
                <i class="ion-help-buoy"></i>
              </div>
              <div class="mm-button mm-button--error animated slideInRight faster">
                <i class="ion-trash-b"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="mm-row">
            <div class="mm-col mm-col-6">
              <div class="mm-card animated slideInLeft fast">
                <div class="mm-card__main">
                  <div class="mm-card__content">
                    <div class="center-aligned no-margin">ORDERS COMPLETED</div>
                    <div class="center-aligned bold massive">
                      <i class="ion-ios-arrow-thin-up"></i>
                      378
                    </div>
                  </div>
                  <div class="mm-card__footer">
                    <div class="mm-progress mm-progress--round">
                      <div class="mm-progress__main" data-percentage-complete="93">
                        93% Target For Month
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="mm-col mm-col-6 animated slideInRight fast">
              <div class="mm-card">
                <div class="mm-card__main">
                  <div class="mm-card__content mm-card__content">
                    <div class="center-aligned">NEW CLIENTS</div>
                    <div class="center-aligned bold massive">
                      <i class="ion-ios-arrow-thin-down"></i>
                      89
                    </div>
                  </div>
                  <div class="mm-card__footer">
                    <div class="mm-progress mm-progress--round">
                      <div class="mm-progress__main" data-percentage-complete="40">
                        40% of Target
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        <!-- Indicators -->
        <div class="mm-row">
          <div class="mm-col mm-col-3">
            <div class="mm-card mm-card--success animated slideInLeft faster">
              <div class="mm-card__main">
                <div class="mm-card__content">
                  <div class="center-aligned no-margin">ORDERS COMPLETED</div>
                  <div class="center-aligned bold massive">
                    <i class="ion-ios-arrow-thin-up"></i>
                    378
                  </div>
                </div>
                <div class="mm-card__footer">
                  <div class="mm-progress mm-progress--success mm-progress--round">
                    <div class="mm-progress__main" data-percentage-complete="93">
                      93% Target For Month
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mm-col mm-col-3 animated slideInLeft fast">
            <div class="mm-card mm-card--error">
              <div class="mm-card__main">
                <div class="mm-card__content mm-card__content">
                  <div class="center-aligned">NEW CLIENTS</div>
                  <div class="center-aligned bold massive">
                    <i class="ion-ios-arrow-thin-down"></i>
                    89
                  </div>
                </div>
                <div class="mm-card__footer">
                  <div class="mm-progress mm-progress--error mm-progress--round">
                    <div class="mm-progress__main" data-percentage-complete="40">
                      40% of Target
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mm-col mm-col-3 animated slideInRight fast">
            <div class="mm-card mm-card--primary">
              <div class="mm-card__main">
                <div class="mm-card__content">
                  <div class="center-aligned">PROJECTED SALES</div>
                  <div class="center-aligned bold massive">R 23, 990</div>
                </div>
                <div class="mm-card__footer">
                  <div class="mm-progress mm-progress--primary mm-progress--round">
                    <div class="mm-progress__main" data-percentage-complete="80">
                      80% Target For Month
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mm-col mm-col-3 animated slideInRight faster">
            <div class="mm-card mm-card--info">
              <div class="mm-card__main">
                <div class="mm-card__content">
                  <div class="center-aligned">ACTIVE AGENTS</div>
                  <div class="center-aligned bold massive">6</div>
                </div>
                <div class="mm-card__footer">
                  <div class="mm-progress mm-progress--info mm-progress--round">
                    <div class="mm-progress__main" data-percentage-complete="50">
                      6/12 Active Agents
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tabs -->
        <div class="mm-row">
          <div class="mm-col mm-col-9">
            <div class="mm-tabs">
              <div class="mm-tabs__menu">
                <div class="mm-tab mm-tab--active" data-tab="tab-1">
                  Inventory
                </div>
                <div class="mm-tab" data-tab="tab-2">
                  Outgoing
                </div>
              </div>
              <div class="mm-tabs__content mm-tabs__content--active" data-tab="tab-1">
                <div class="mm-row">
                  <div class="mm-col mm-col-6">
                    <div class="mm-card">
                      <div class="mm-card__main">
                        <div class="mm-card__header">
                          Simple Card
                        </div>
  
                        <div class="mm-card__content">
                          <p>
                            Suspendisse aliquet metus et erat blandit iaculis. Suspendisse vel felis porttitor, semper ex ut,
                            auctor ipsum. Nullam pellentesque eleifend sapien at euismod.
                          </p>
                        </div>
                        <div class="mm-card__footer">
                          <div class="mm-progress  mm-progress-12 mm-progress--success mm-progress--round mm-progress--huge">
                            <div class="mm-progress__main" data-percentage-complete="40">40%</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mm-col mm-col-6">
                    <div class="mm-card">
                      <div class="mm-card__main">
                        <div class="mm-card__header">
                          Simple Card 2
                        </div>
  
                        <div class="mm-card__content">
                          <p>
                            Suspendisse aliquet metus et erat blandit iaculis. Suspendisse vel felis porttitor, semper ex ut,
                            auctor ipsum. Nullam pellentesque eleifend sapien at euismod.
                          </p>
                        </div>
                        <div class="mm-card__footer">
                          <div class="mm-progress  mm-progress-12 mm-progress--success mm-progress--round mm-progress--huge">
                            <div class="mm-progress__main" data-percentage-complete="40">40%</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mm-row">
                  <div class="mm-col mm-col-12">
                    <table class="mm-table mm-table--striped">
                      <thead class="mm-table__thead">
                        <th class="mm-table__th">
                          Item
                        </th>
                        <th class="mm-table__th">
                          Code
                        </th>
                        <th class="mm-table__th">
                          Quantity
                        </th>
                      </thead>
                      <tbody>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                        <tr class="mm-table__tr">
                          <td class="mm-table__td">
                            Bacon
                          </td>
                          <td class="mm-table__td">
                            RR-1224
                          </td>
                          <td class="mm-table__td">
                            23
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="mm-tabs__content" data-tab="tab-2">
                <div class="mm-col">
                  <table class="mm-table">
                    <thead class="mm-table__thead">
                      <th class="mm-table__th">
                        Item
                      </th>
                      <th class="mm-table__th">
                        Code
                      </th>
                      <th class="mm-table__th">
                        Quantity
                      </th>
                    </thead>
                    <tbody>
                      <tr class="mm-table__tr mm-table__tr--warning">
                        <td class="mm-table__td">
                          Bacon
                        </td>
                        <td class="mm-table__td">
                          RR-1224
                        </td>
                        <td class="mm-table__td">
                          23
                        </td>
                      </tr>
                      <tr class="mm-table__tr">
                        <td class="mm-table__td">
                          Bacon
                        </td>
                        <td class="mm-table__td">
                          RR-1224
                        </td>
                        <td class="mm-table__td">
                          23
                        </td>
                      </tr>
                      <tr class="mm-table__tr">
                        <td class="mm-table__td">
                          Bacon
                        </td>
                        <td class="mm-table__td">
                          RR-1224
                        </td>
                        <td class="mm-table__td">
                          23
                        </td>
                      </tr>
                      <tr class="mm-table__tr mm-table__tr--error">
                        <td class="mm-table__td">
                          Bacon
                        </td>
                        <td class="mm-table__td">
                          RR-1224
                        </td>
                        <td class="mm-table__td">
                          23
                        </td>
                      </tr>
                      <tr class="mm-table__tr">
                        <td class="mm-table__td">
                          Bacon
                        </td>
                        <td class="mm-table__td">
                          RR-1224
                        </td>
                        <td class="mm-table__td">
                          23
                        </td>
                      </tr>
                      <tr class="mm-table__tr">
                        <td class="mm-table__td">
                          Bacon
                        </td>
                        <td class="mm-table__td">
                          RR-1224
                        </td>
                        <td class="mm-table__td">
                          23
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="mm-col mm-col-3">
            <div class="mm-tabs">
              <div class="mm-tabs__menu">
                <div class="mm-tab mm-tab--active" data-tab="tab-todo">
                  Todo
                </div>
                <div class="mm-tab" data-tab="tab-3">
                  Schedule
                </div>
                <div class="mm-tab" data-tab="tab-4">
                  Contacts
                </div>
              </div>
              <div class="mm-tabs__content mm-tabs__content--active" data-tab="tab-todo">
                <div class="mm-col">
                  <div class="mm-todo" data-todo>
                    <div class="mm-todo__item">
                      <span class="mm-todo__priority" data-priority="high"><i class="ion-arrow-up-c"></i></span>
                      <span class="mm-todo__task">
                        <span class="mm-todo__task-detail">
                          FEED THE DOGS
                        </span>
                      </span>
                    </div>

                    <div class="mm-todo__item">
                      <span class="mm-todo__priority" data-priority="low"><i class="ion-arrow-down-c"></i></span>
                      <span class="mm-todo__task">
                        <span class="mm-todo__task-detail">
                          CALL THE CLIENT
                        </span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mm-tabs__content" data-tab="tab-3">
                <div class="mm-col">
                  <div class="mm-card">
                    <div class="mm-card__main">
                      <div class="mm-card__header">Today</div>
                      <div class="mm-card__content">
                        <strong>11h00</strong> - Logistics Discussion
                      </div>
                      <div class="mm-card__footer">
                        <div class="mm-pill mm-pill--info">Board Room</div>
                        <div class="mm-pill mm-pill--error">Compulsory</div>
                      </div>
                      <div class="mm-card__content"><strong>12h00</strong> - Buyers Meeting</div>
                      <div class="mm-card__footer">
                        <div class="mm-pill mm-pill--info">Board Room</div>
                      </div>
                      <div class="mm-card__content"><strong>15h30</strong> - Team Conference Call</div>
                      <div class="mm-card__footer">
                        <div class="mm-pill mm-pill--info">Board Room</div>
                        <div class="mm-pill mm-pill--error">Compulsory</div>
                        <div class="mm-pill mm-pill--warning">Remote</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mm-tabs__content" data-tab="tab-4">
                <div class="mm-col">
                  <div class="mm-card">
                    <div class="mm-card__main">
                      <div class="mm-card__header">
                        <img class="mm-card__header-image" src="../images/user.png" alt="">
                        Andrew Wiggins
                      </div>
                      <div class="mm-card__header">
                        <img class="mm-card__header-image" src="../images/user.png" alt="">
                        DeAndre Jordan
                      </div>
                      <div class="mm-card__header">
                        <img class="mm-card__header-image" src="../images/user.png" alt="">
                        Kobe Bryant
                      </div>
                      <div class="mm-card__header">
                        <img class="mm-card__header-image" src="../images/user.png" alt="">
                        Klay Thompson
                      </div>
                      <div class="mm-card__header">
                        <img class="mm-card__header-image" src="../images/user.png" alt="">
                        LeBron James
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mm-col mm-col-8 mm-modal" data-modal="confirm-export">
    <div class="mm-card">
      <div class="mm-card__main">
        <div class="mm-card__header">
          <i class="ion-android-document mm-card__header-icon"></i>
          Confirm Export
        </div>
        <div class="mm-card__content center-aligned">
            <h5>Are you sure you want to download the CSV?</h5>
        </div>
        <div class="mm-card__footer right-aligned">
          <div class="mm-button mm-button--info" data-close-modal>Yes</div>
          <div class="mm-button mm-button--error" data-close-modal>No</div>
        </div>
      </div>
    </div>
  </div>
  <div class="mm-col mm-col-6 mm-modal" data-modal="delete-all">
    <div class="mm-card">
      <div class="mm-card__main">
        <div class="mm-card__header">
          Confirm Delete
        </div>
        <div class="mm-card__content center-aligned">
            <h5 class="vertical-space">Are you sure you want to delete everything?</h5>
            <ul class="mm-todo" data-todo>
              <li class="mm-todo__item">
                <span class="mm-todo__priority" data-priority="high"><i class="ion-arrow-up-c"></i></span>
                <span class="mm-todo__task">
                  <span class="mm-todo__task-detail">
                    Have you cleared your history?
                  </span>
                </span>
              </li>
              <li class="mm-todo__item">
                <span class="mm-todo__priority" data-priority="normal"><i class="ion-minus-round"></i></span>
                <span class="mm-todo__task">
                  <span class="mm-todo__task-detail">
                    Have you made a backup?
                  </span>
                </span>
              </li>
              <li class="mm-todo__item">
                <span class="mm-todo__priority" data-priority="low"><i class="ion-arrow-down-c"></i></span>
                <span class="mm-todo__task">
                  <span class="mm-todo__task-detail">
                    Are your socks on?
                  </span>
                </span>
              </li>
            </ul>
        </div>
        <div class="mm-card__footer right-aligned">
          <div class="mm-button mm-button--error" data-close-modal>No</div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="../js/dependencies.min.js"></script>
  <script src="../js/mimi.min.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!'
      }
    });
  </script>
</body>
</html>
