.mm-accordion{
  width: 100%;
  border-radius: $default_border_radius;
}

.mm-accordion--indicator{
  .mm-accordion__header{
    &:after{
      font-family: Ionicons;
      content: '\f401';
      position: absolute;
      padding: 2px;
      right: 20px;
    }
  }

  .mm-accorion__header--active{
    &:after{
      content: '\f400';
    }
  }

}

.mm-accordion__item{
  background: $white;
  border: $default_border;
  margin-top: -2px;
  position: relative;
  
  &:first-child {
    @include border_top_radius($default_border_radius);
  }

  &:last-child {
    @include border_bottom_radius($default_border_radius);
  }

  &::first-of-type{
    margin-top: 0;
  }
}

.mm-accordion__header{
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  position: relative;
  border-radius: $default_border_radius;

  &:hover{
    background: rgba(0,0,0,0.03);
  }
}

.mm-accorion__header--active{
  background: rgba(0, 0, 0, 0.03);
}

.mm-accordion__content{
  border-bottom: $default_border;
  padding: 20px;
  display: none;
  border-top: $default_border;

  &:last-of-type {
    border-bottom: none;
  }
}

@for $i from 1 through $default_col_number {
  .mm-accordion-#{$i} {
    width: calc(100%/#{$default_col_number} * #{$i});
  }
}
