.mm-sidebar{
  .content{

  }
}

.main-menu{
  width: 100%;
  ul{
    display: block;
    margin: 0;
    padding: 0;
  }

  .menu-item{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    font-size: 1.5em;
    color: $gold;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    cursor: pointer;
    background: $branding-color;
    transition: all ease-in-out 0.4s;
    position: relative;

    a {
      color: $gold;

      &:hover {
        &:after {
          border-bottom: 1px solid $gold;
        }
      }
    }

    &:hover {
      background: $primary-color-light;
    }

    &.active {
      background: $invert-color;
      &:after{
        font-family: Ionicons;
        content: '\f361';
        color: $main_background_color;
        position: absolute;
        right: 0;
      }
    }
  }
}