.mm-modal {
  display: none;
  position: absolute;
  z-index: 101;
  margin: auto auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.mm-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  display: none;
}