.mm-offcanvas {
  width: 300px;
  background: #2a2a2a;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  right: 0;
  color: $white;
  right: -300px;
  -webkit-transition: 200ms linear all;
  transition: 200ms linear all;
  overflow-y: scroll;
}

.mm-offcanvas--open {
  right: 0;
  -webkit-transition: 200ms linear all;
  transition: 200ms linear all;
}

.mm-offcanvas--active {
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
  transform: translate3d(-300px, 0, 0);
  -webkit-transform: translate3d(-300px, 0, 0);
}

.mm-offcanvas__header {
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  background: darken(#2a2a2a, 2%);
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

.mm-offcanvas__menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: none;
}

.mm-offcanvas__menu-item {
  height: 40px;
  display: flex;
  align-items: center;
  border-bottom: $default_border;
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 0.8em;
  position: relative;
  a {
    color: $white;
  }
  &:hover {
    background: darken(#2a2a2a, 2%);
  }
  &:before {
    font-family: Ionicons;
    content: '\f3a7';
    margin-right: 10px;
    font-size: 1.1em;
    color: transparentize($white, 0.9);
  }
}

.mm-offcanvas__menu-item--active {
  &:before {
    color: transparentize($success-color, 0.2);
  }
}

.mm-offcavas__close {
  position: absolute;
  right: 0;
  color: $error-color;
  cursor: pointer;
  display: none;
  padding: 20px;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 20px;
  top: 0;
  &:hover {
    background: darken(#2a2a2a, 1%);
  }
}

.mm-offcanvas-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}
