.mm-tabs{
  background: $white;
  display: block;
  width: 100%;
  border: $default_border;
  overflow: hidden;
  border-radius: $default_border_radius;
}

.mm-tabs__menu {
  height: 50px;
  display: flex;
  background: darken(#fafafa, 2%);
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
}

.mm-tab {
  display: flex;
  min-width: 100px;
  padding: 0 20px;
  height: inherit;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: $primary-color;

  i{
    font-size: 1.4em;
  }

  &:last-of-type {
    border: none;
  }

  &:hover{
    background: rgba(0,0,0,0.02);
  }
}

.mm-tab--active{
  background: $white;
  font-weight: 700;
  @include border_top_radius($default_border_radius);
  
  &:hover{
    background: $white;
  }
}

.mm-tabs__content{
  padding: 20px 10px;
  display: none;
  min-height: 100px;

  & > .mm-row{
    padding: 0;
  }
}

.mm-tabs__content--active {
  display: block;
}

/* Responsive */

@media only screen and (max-width: $tablet_breakpoint) {
    .mm-tabs__menu {
      display: block;
      height: auto;
    }

    .mm-tab {
      width: 100%;
      height: 50px;
    }

}

